<div class="name q$QUALITY$">
	<div class="text">$NAME$</div>
	<div class="type">$TYPE$</div>
	<div class="power">$POWER$</div>
</div>
<div class="stats">$STATS$</div>
<div class="effects">$EFFECTS$</div>
<div class="faction">faction: $faction$</div>
<div class="material">crafting material</div>
<div class="quest">quest item</div>
<div class="spellName">$SPELLNAME$</div>
<div class="damage">$DAMAGE$</div>
<div class="level">level: $LEVEL$</div>
<div class="worth"></div>
<div class="info"><br />[shift] to compare</div>
