<div class="uiMessages active">
	<div class="filters">
		<div class="filter active" filter="info">info</div>
		<div class="filter active" filter="rep">reputation</div>
		<div class="filter active" filter="chat">players</div>
		<div class="filter active" filter="loot">loot</div>
	</div>
	<div class="list rep chat info loot">
		
	</div>
	<input type="text" class="el textbox message">
</div>
